* {
	/*font-family: 'Work Sans';*/
	/* font-size: 18; */
	/* color: #606060; */
	/* font-family: 'Source Code Pro', monospace;*/
}

.code {
	font-family: 'Source Code Pro', monospace;
}

.submitarea {
	padding-left: 20px;
	padding-right: 20px;
}

.container {
	height: 100%;
}

/*
.container {
	padding-top: 40px;
}
*/
nav {
	font-family: 'Work Sans';
}

.mainfont {
	font-family: 'Work Sans';
}

.page {
	position: fixed;
}

textarea {
	height: 85%;
}

.col-sm {
	padding: 20px;
}

.submit {
}

.ReactCodeMirror {
	height: 100%;
	padding-bottom: 20px;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.plist {
	padding-top: 20px;
}

.plistitem {
	margin: 5px;
}
