* {
	/*font-family: 'Work Sans';*/
	/* font-size: 18; */
	/* color: #606060; */
	/* font-family: 'Source Code Pro', monospace;*/
}

.code {
	font-family: 'Source Code Pro', monospace;
}

.submitarea {
	padding-left: 20px;
	padding-right: 20px;
}

.container {
	height: 100%;
	position: relative;
}

/*
.container {
	padding-top: 40px;
}
*/
nav {
	font-family: 'Work Sans';
	position: relative;
}

.mainfont {
	font-family: 'Work Sans';
}

.page {
	position: fixed;
}

textarea {
	height: 80%;
}

.col-sm {
	padding: 20px;
}

.submit {
}

.ReactCodeMirror {
	height: 100%;
	padding-bottom: 20px;
	min-height: 300px;
	max-height: 800px;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.plist {
	padding-top: 20px;
}

.plistitem {
	margin: 5px;
}

.statement {
	padding-top: 50px;
}

.output {
	margin-bottom: 50px;
}

h4 {
	padding-top: 20px;
	padding-bottom: 10px;
}

.codearea {
	background-color: #F8F9FA;
	font-family: monospace;
	padding: 15px;
}

p {
	margin: 0px;
}

.side {
	overflow: scroll;
}

h6 {
	color: grey;
}

.language {
	padding-bottom: 20px;
}

.welcome {
	height: 100%;
}

.welcome-block {
  top: 50%;
  left: 50%;
	width: 600px;
	position: relative;
	margin-left: -300px;
	margin-top: -135px;
	text-align: center;
}

.welcome-title {
	font-size: 100px;
	width: 100%;
	display: inline-block;
	margin-bottom: 0px;
}

.welcome-full-title {
	font-size: 20px;
	margin-bottom: 40px;
}

.welcome-btns {
	text-align: center;
}

.welcome-btn {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.col-sm {
	display: inline-block;
}

.cm-s-base16-light.CodeMirror { background: #FFFFFF; color: #202020; }
.cm-s-base16-light .CodeMirror-gutters { background: #F8F9FA; border-right: 0px; }
