* {
	font-family: 'Work Sans';
	/* font-size: 18; */
	/* color: #606060; */
}

.submitarea {
	padding-left: 20px;
	padding-right: 20px;
}

.container {
	height: 100%;
}

/*
.container {
	padding-top: 40px;
}
*/
nav {
}

.page {
	position: fixed;
}

textarea {
	height: 85%;
}

.col-sm {
	padding: 20px;
}


.submit {
}
